@{
    ViewBag.Title = "Désinscription newsletter";
}

<div class="centered-box" style="width: 460px; text-align: center;">
    <h2>Désinscription newsletter</h2>
    <div>
        <h3>@ViewBag.Message</h3>
    </div>
</div>

<style>
    body {
        background: #eee;
    }
</style>